<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>2R : Geofencing</h1>
    <div>
        <p>From : </p>
        <p>[2.3668617010116577,48.86100925394748]</p>
    </div>

    <div>
        <p>To : </p>
        <p>[2.411107420921326,48.833855395065115]</p>
    </div>

    <form action="{{ url_for('geomap') }}" method="POST">
        <div><label>From: <input type="text" name="from"></label></div>
        <div><label>to: <input type="text" name="to"></label></div>
        <input type="submit" value="Submit">
    </form>

    <a href="/map">map link</a>
</body>
</html>