<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <style type="text/css">
      .br {
          /* display: block; */
          margin: 5;
      }
    </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/Lastdesign.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
  </head>

  <body>
    <div
      style="--src:url(/static/assets/15fbe088667d33ea0c1ed66fa83ab44b.png)"
      class="lastdesign lastdesign-group layout">
      <div class="lastdesign-flex layout3">
        <h1 class="lastdesign-hero-title layout">PARIS-PLUS-SÛR</h1>
        <h4 class="lastdesign-highlights-box layout">
          <pre class="lastdesign-highlights">
          Analyse des zones à riques pour motards 
          (engins à deux roues) dans la belle ville de Paris.
          </pre>
        </h4>
        <h1 class="lastdesign-hero-title1-box layout">
          <pre
            class="lastdesign-hero-title1"
          ><span class="lastdesign-hero-title1-span0">+170</span><span class="lastdesign-hero-title1-span1"> </span><span class="lastdesign-hero-title1-span2">zones à risques détectées. </span></pre>
        </h1>
        <div
          style="--src:url(/static/assets/5cb79405f0caf4c13631d26970135419.png)"
          class="lastdesign-line layout"
        ></div>
        <div class="lastdesign-group1 layout">
          <div class="lastdesign-flex layout2">
            <div class="lastdesign-flex2 layout">
              <div
                style="--src:url(/static/assets/49cffe6fb6b1164c837ff00b26ccca2f.png)"
                class="lastdesign-img layout"
              ></div>
              <div class="lastdesign-flex2-col">
                <div class="lastdesign-flex layout">
                  <div class="lastdesign-flex4 layout">
                    <div
                      style="--src:url(/static/assets/c258aa048259632cf989687bbd004ab4.png)"
                      class="lastdesign-img layout1"
                    ></div>
                    <div class="lastdesign-flex4-spacer"></div>
                    <h5 class="lastdesign-highlights1 layout">Départ</h5>
                    <div class="lastdesign-flex4-col">
                      <div
                        style="--src:url(/static/assets/c370531b0047de5ecd996a65c5a61ef1.png)"
                        class="lastdesign-line layout1"
                      ></div>
                    </div>
                  </div>
                  <div class="lastdesign-small-text-body layout br">
                      <label><input type="text" name="from" required
                        minlength="4" maxlength="50" size="70"></label>
                  </div>
                  <!-- <div class="lastdesign-small-text-body layout br">
                    55 Rue du Faubourg Saint-Honoré, 75008 Paris
                  </div> -->
                  <div
                    style="--src:url(/static/assets/02594fa76f7d9650a059a24c4c116391.png)"
                    class="lastdesign-line layout2"
                  ></div>
                </div>
              </div>
              <div
                style="--src:url(/static/assets/a5070b36d072c4257bb87d3cf9e143b1.png)"
                class="lastdesign-img layout"
              ></div>
            </div>
            <div class="lastdesign-flex5 layout">
              <div
                style="--src:url(/static/assets/49cffe6fb6b1164c837ff00b26ccca2f.png)"
                class="lastdesign-img layout"
              ></div>
              <div class="lastdesign-flex5-col">
                <div class="lastdesign-flex layout">
                  <div class="lastdesign-flex7 layout">
                    <div
                      style="--src:url(/static/assets/c258aa048259632cf989687bbd004ab4.png)"
                      class="lastdesign-img layout4"
                    ></div>
                    <div class="lastdesign-flex7-spacer"></div>
                    <h5 class="lastdesign-highlights2 layout">Arrivée</h5>
                    <div class="lastdesign-flex7-col">
                      <div
                        style="--src:url(/static/assets/9dfaa544cdf4180fd7ea396accfc8187.png)"
                        class="lastdesign-line layout3"
                      ></div>
                    </div>
                  </div>
                  <div class="lastdesign-small-text-body layout br">
                      <label><input type="text" name="to" required
                        minlength="4" maxlength="50" size="70"></label>
                  </div>
                  <!-- <div class="lastdesign-small-text-body layout br">
                    12 Rue Olivier Métra, 75020 Paris
                  </div> -->
                  <div
                    style="--src:url(/static/assets/02594fa76f7d9650a059a24c4c116391.png)"
                    class="lastdesign-line layout4"
                  ></div>
                </div>
              </div>
              <div
                style="--src:url(/static/assets/a5070b36d072c4257bb87d3cf9e143b1.png)"
                class="lastdesign-img layout"
              ></div>
            </div>
          </div>
        </div>
        <div
          style="--src:url(/static/assets/5cb79405f0caf4c13631d26970135419.png)"
          class="lastdesign-line layout5"
        ></div>
        <div class="lastdesign-flex8 layout">
          <div class="lastdesign-flex8-col">
            <div class="lastdesign-group2 layout">
              <h3 class="lastdesign-geoviz layout">
                <input type="submit" name="action" value="Geoviz" width="48">
              </h3>
            </div>
          </div>
          <div class="lastdesign-flex8-spacer"></div>
          <div class="lastdesign-flex8-col">
            <div class="lastdesign-group3 layout">
              <h3 class="lastdesign-geoviz layout">
                <input type="submit" name="action"  value="Geofencing" width="48">
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
