<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/Newscreen09.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Newscreen09.css" /> -->
  </head>

  <body>
    <div class="newscreen09 newscreen09-content-box layout">
      <div class="newscreen09-content-box1 layout">
        <div class="newscreen09-content-box1-spacer"></div>
        <div
          style="--src:url(/static/assets/42f9f032a2403c912f0c475cc5496e9a.png)"
          class="newscreen09-img layout"
        ></div>
        <div class="newscreen09-content-box1-spacer1"></div>
        <div class="newscreen09-content-box1-col">
          <div
            style="--src:url(/static/assets/fe433c472b045fed9f3ec1d999372156.png)"
            class="newscreen09-icon layout"
          ></div>
        </div>
      </div>
      <div class="newscreen09-group layout">
        <div class="newscreen09-flex layout">
          <div class="newscreen09-flex-col">
            <div class="newscreen09-rect layout"></div>
          </div>
          <div class="newscreen09-flex-spacer"></div>
          <div class="newscreen09-flex-col1">
            <div class="newscreen09-rect1 layout"></div>
          </div>
        </div>
        <div class="newscreen09-flex1 layout">
          <h3 class="newscreen09-direction layout">Direction</h3>
          <div
            style="--src:url(/static/assets/9a3768046c808d0f7fbb64b3505a4502.png)"
            class="newscreen09-line layout"
          ></div>
          <div class="newscreen09-text-body-box layout">
            <pre class="newscreen09-text-body">From </pre>
            <input type="text" id="name" name="name" required
            minlength="4" maxlength="50" size="43">
          </div>
          <div class="newscreen09-text-body1-box layout">
            <pre class="newscreen09-text-body">To </pre>
            <input type="text" id="name" name="name" required
            minlength="4" maxlength="50" size="43">
          </div>
        </div>
        <div class="newscreen09-flex2 layout">
          <h3 class="newscreen09-map layout">Map</h3>
          <div
            style="--src:url(/static/assets/9a3768046c808d0f7fbb64b3505a4502.png)"
            class="newscreen09-line layout"
          ></div>
          <div class="newscreen09-flex3 layout">
            <div class="newscreen09-flex3-col">
              <div class="newscreen09-group1 layout">Geo-signage</div>
            </div>
            <div class="newscreen09-flex3-spacer"></div>
            <div class="newscreen09-flex3-col">
              <div class="newscreen09-group2 layout">Geofencing</div>
            </div>
          </div>
        </div>
        <div class="newscreen09-flex4 layout">
          <h3 class="newscreen09-clusters layout">Clusters</h3>
          <div
            style="--src:url(/static/assets/9a3768046c808d0f7fbb64b3505a4502.png)"
            class="newscreen09-line layout"
          ></div>
        </div>
        <div class="newscreen09-flex5 layout">
          <h2 class="newscreen09-medium-title layout">
            2 wheels accidents in Paris.
          </h2>
          <div class="newscreen09-paragraph-body-box layout">
            <pre class="newscreen09-paragraph-body">
Define your starting point &amp; end point. 
Choose a map.
Read the information on dangerous areas.</pre
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
